@import 'vars';

input, select, textarea {
  border: none;
  border-bottom: 1px solid lighten($color-font, 10%);
  width: 100%;
  padding: 0.5rem 0;
  transition: 0.3s all ease;

  &:focus {
    border-bottom-color: $color-blue;
  }
}

label {
  text-transform: uppercase;
  padding: 0;
  vertical-align: middle;
  font-size: 14px;
  color: #48576a;
  line-height: 1;
  box-sizing: border-box;
}

.form-item {
  margin-bottom: 1rem;

  @media (max-width: 30rem) {
    margin-bottom: 0.5rem;
  }

  label {
    display: block;
  }
}
