@import 'vars';

input, select, textarea {
  border: 1px solid lighten($color-gray-light, 4%);
  background-color: lighten($color-gray-light, 4%);
  border-radius: 3px;
  width: 100%;
  padding: 0.5rem;
  transition: 0.3s all ease;

  &[required] {
    border-bottom-color: $color-yellow;
  }

  &:focus {
    border-color: $color-blue;
  }
}

input, select {
  height: $input-height;
}

label {
  text-transform: uppercase;
  padding: 0;
  vertical-align: middle;
  font-size: 14px;
  color: $color-font;
  line-height: 1;
  box-sizing: border-box;
  margin-bottom: 0.5rem;

  &.m-required:after {
    content: '*';
    color: $color-red;
  }
}

.form-item {
  margin-bottom: 1rem;

  @media (max-width: 30rem) {
    margin-bottom: 0.5rem;
  }

  label {
    display: block;
  }

  .b-validation {
    font-size: 0.8125rem;
    color: $color-red;
  }
}
