@import 'vars';

.landing-form {

  input {
    color: black;
    height: 3rem;
    padding: 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: none;
    font-size: 3rem;
    width: 100%;

    @media (max-width: 40rem) {
      height: 1.75rem;
      font-size: 1.75rem;
    }

    &.m-small {
      width: 4.5rem;
      font-size: 1.25rem;
      height: 1.875rem;
    }
  }

  .form-field {
    @media (max-width: 25rem) {
      display: inline-block;
      padding-left: 6.5rem;
    }

    &.m-small input {
      margin-top: 0.625rem;
      font-size: 1.75rem;
      height: 2.375rem;

      @media (max-width: 25rem) {
        vertical-align: bottom;
        height: 2.25rem;
        margin-top: 0;
      }
    }
  }

  label {
    vertical-align: top;
    padding: 0 0 10px;
    display: inline-block;
    @media (max-width: 25rem) {
      vertical-align: bottom;
      height: 1.75rem;
      line-height: 2.625rem;
      text-align: left;
      width: 6.5rem;
      padding: 0;
      position: absolute;
      bottom: 0.1875rem;
    }
  }

  .b-form {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    padding: 1.5rem 0 1.5rem 0.5rem;

    @media (max-width: 60rem) {
      width: 100%;
    }
    @media (max-width: 40rem) {
      padding: 1rem 0;
    }
    @media (max-width: 25rem) {
      padding: 1rem 0 0.5rem;
    }
  }
  .b-action {
    background-color: #e2edf1;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding: 0 0.3rem;

    @media (max-width: 60rem) {
      height: 4.5rem;
      width: 100%;
    }
    @media (max-width: 25rem) {
      padding: 0;
    }

    .b-form-item {
      text-align: right;
      padding: 1rem 1.5rem;
      @media (max-width: 60rem) {
        padding: 1rem;
        width: 100%;
      }
      @media (max-width: 40rem) {
        padding: 0.75rem;
      }
      @media (max-width: 25rem) {
        text-align: center;
        padding: 0.75rem 0 0;
        width: auto;
      }
    }
  }
  .b-form-item {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 0.5rem 0 1.5rem;
    vertical-align: top;
    border-left: 1px solid lighten($color-font, 35%);

    @media (max-width: 40rem) {
      padding: 0 0.5rem 0 1rem;
    }
    @media (max-width: 25rem) {
      display: block;
      margin: 0 0.75rem 0.75rem;
      padding: 0 0 0.125rem;
      border: none;
      border-bottom: 1px solid #ddd;
      width: auto;
    }

    &:first-child {
      border-left: none;
    }

    &.m-third {
      width: 33%;
    }
  }
  .b-submit {
    width: 100%;
    @media (max-width: 60rem) {
      margin-top: 0;
      width: auto;
    }
    @media (max-width: 25rem) {
      width: 100%;
    }
  }
}
