$color-blue: #3BAFDA;
$color-blue-light: #4FC1E9;

$color-green: #A0D468;
$color-red: #E9573F;

$color-gray: #CCD1D9;
$color-gray-light: #E6E9ED;

$color-font: #656D78;
$color-dark: #323133;

$font-family-title: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-family-text: "Calibri Light", "Helvetica Neue", Roboto, Arial, sans-serif;
$font-family-text-bold: "Calibri", "Helvetica", Roboto, Arial, sans-serif;

$input-height: 2.5rem;
