$color-blue: #3BAFDA;
$color-blue-light: #4FC1E9;

$color-green: #A0D468;

$color-main: #3498DB;
$color-font: #757D88;
$color-dark: #323133;

$font-family-title: "Times New Roman", Times, serif;
$font-family-text: "Calibri Light", "Helvetica Neue", Roboto, Arial, sans-serif;
$font-family-text-bold: "Calibri", "Helvetica", Roboto, Arial, sans-serif;

$input-height: 2.5rem;
