@import "~assets/css/mixins.scss";

.container {
  @include clearfix;
  margin: 0 auto;
  width: 80%;
  max-width: 60rem;

  &.m-medium {
    max-width: 50rem;
  }

  &.m-short {
    max-width: 40rem;
  }
  @media (max-width: 40rem) {
    width: 90%;
  }
}

.row {
  @include clearfix;
  margin: 0 -0.5rem;

  @for $i from 1 through 24 {
    .col-#{$i} {
      float: left;
      padding: 0 0.5rem;
      width: 100% * $i / 24;
    }
    .m-offset-#{$i} {
      margin-left: 100% * $i / 24;
    }
  }
}
